{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="container form-group">
    <button type="button" class="btn btn-outline-primary" onclick="history.back();">Back</button>
</div>

<div class="container">

  <table class="table table-bordered table-striped text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Modified</th>
        <th scope="col">Download</th>
        <th scope="col">Rename</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

    {% include 'modals/modal_rename_file.html' with filenames=filenames %}

    {% for nested_dir in nested_dirs %}
            <tr id="dir_{{ nested_dir.id }}">
                <th scope="row">#</th>
                <td><a href="{% url 'dir_view' dir_id=nested_dir.id %}" class="">{{ nested_dir.name }}</a></td>
                <td>DIR</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a type="button" onclick="delete_dir({{ nested_dir.id }})" class="">Delete DIR</a></td>
            </tr>
    {% endfor %}

    {% for filename in filenames %}

        <tr id="tr{{ filename.id }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ filename.aws_key }}</td>
            <td>{{ filename.type }}</td>
            <td>{{ filename.size }}</td>
            <td>{{ filename.last_modified }}</td>
            <td><a href="{% url 'file_download' file_id=filename.id %}" class="">Download</a></td>
            <td>
                <a type="button" data-toggle="modal" data-target="#RenameModal_{{ filename.id }}">Rename</a>
            </td>
            <td><a type="button" onclick="delete_file({{ filename.id }})" class="">Delete</a></td>
        </tr>

    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript" src="{% static 'js/csrfSetUp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modal/create_dir.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modal/rename_file.js' %}"></script>
{% endblock %}