{% extends 'base.html' %}

{% block content %}

<div class="container form-group">
    <button type="button" class="btn btn-outline-primary" onclick="history.back();">Back</button>
</div>

<div class="container">
    <div class="col">
        {% if alert %}

        <div class="alert alert-warning alert-dismissible fade show alert-dark" role="alert">
          <strong>{{ alert.msg }}</strong> {{ alert.filename }}.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {% endif %}
    </div>
    <form class="was-validated" method="POST" action="/file/upload/" enctype=multipart/form-data> {% csrf_token %}

        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="id_file">
            <label class="custom-file-label" for="id_file">Choose file</label>
        </div>
          <button type="submit" class="btn btn-primary">Upload</button>

    </form>
</div>

{% endblock %}
